
<div class='posts'>
  {{#each post}}
    <div class='card'>
      <div class='card-header'>
        <h2>
          <a href='/post/{{id}}'>{{title}}</a>
        </h2>
        <p>Created by
          {{this.User.username}}
        </p>
      </div>
      <div class='card-body'>
        <p>
          {{Recipe}}
        </p>
      </div>
    </div>
  {{/each}}
</div>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cocktails</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    {{#each recipes}}
      <div class="card">
        <h2>{{this.name}}</h2>
        <p>{{this.ingredients}}</p>
        <p>{{this.instructions}}</p>
      </div>
    {{/each}}
  </div>
</body>
</html>

