<div class='recipes'>
    {{log recipes}}
  {{#each posts}}
    <div class='card'>
      <div class='card-header'>
        <h2>
          <a href='/post/{{id}}'>{{title}}</a>
        </h2>
        <p>Created by
          {{this.User.username}}
          on
          {{!-- {{format_date date_created}} --}}
        </p>
      </div>
      <div class='card-body'>
        <p>
          {{content}}
        </p>
      </div>
    </div>
  {{/each}}
</div>